.list-wrap {
    box-shadow: #333;
    width: 400px;
    margin-right: 60px;
    float: right;
    border: solid 8px rgb(46, 46, 46);
    justify-content: flex-end;
    .list-wrap__episode {
        flex-direction: column;
        padding: 20px;
        counter-reset: done-items pending-items
    }
}

.list-wrap__episode {
    display: block;
    position: relative;
    padding: 10px 0 10px 40px;
    border-top: dashed 1px #fff;
    cursor: pointer;
    counter-increment: pending-items;
    &:hover {
        background: rgba(#fff, .4);
    }
    &::before {
        content: url('../../../../assets/logos/play-small-player-w.svg');
        font: 28px 'FontAwesome';
        display: block;
        position: absolute;
        padding-top: 4px;
        left: 10px;
        top: 8px;
    }
}

.list-wrap__title {
    padding-left: 40px
}