<div class="box-tabs">
  <div class="tabs">
    <input type="radio" id="tab1" name="tab" checked="checked">
    <label for="tab1">T1</label>
    <input type="radio" id="tab2" name="tab">
    <label for="tab2">T2</label>
    <div class="line"></div>

    <div class="tab-contents">
      <div id="tab-content1" class="item">
        <div class="list-wrap__episode-list">

          <li class="list-wrap__episode" *ngFor="let episode of currentEpisodes1">
            <span *ngIf="episode.SeasonNumber ==1" class="list-wrap__title"> {{episode.EpisodeNumber}}
              {{episode.Title}}
              <span class="list-wrap__icon"></span>
            </span>
          </li>

        </div>
      </div>
      <div id="tab-content2" class="item">
        <li class="list-wrap__episode" *ngFor="let episode of currentEpisodes2">
          <span *ngIf="episode.SeasonNumber == 2 && episode.SeasonNumber != 1" class="list-wrap__title">
            {{episode.EpisodeNumber}} {{episode.Title}}
            <span class="list-wrap__icon"></span>
          </span>
        </li>
      </div>

    </div>
  </div>
</div>

<!-- 
<span *ngFor="let season of seasons">
    <input type="radio" id="tab{{season}}" name="tab" *ngIf="season == 1" checked="checked">
    <input type="radio" id="tab{{season}}" name="tab" *ngIf="season != 1">
    <label for="tab{{season}}">T{{season}}</label>
  </span> -->