<div class="box-tabs">
  <div class="tabs">
    <input type="radio" id="tab1" name="tab" checked="checked">
    <label for="tab1">T1</label>
    <input type="radio" id="tab2" name="tab">
    <label for="tab2">T2</label>
    <div class="line"></div>




    <div class="tab-contents">
      <div id="tab-content1" class="item">
        <div class="list-wrap__episode-list">

          <li class="list-wrap__episode" *ngFor="let episode of currentEpisodes1">
            <span *ngIf="episode.SeasonNumber ==1" class="list-wrap__title"> {{episode.EpisodeNumber}}
              {{episode.Title}}
              <span class="list-wrap__icon"></span>
            </span>
          </li>

        </div>
      </div>
      <div id="tab-content2" class="item">
        <li class="list-wrap__episode btn-2" *ngFor="let episode of currentEpisodes2">
          <span class="list-wrap__title" *ngIf="episode.SeasonNumber == 2 && episode.SeasonNumber != 1">
            {{episode.EpisodeNumber}} {{episode.Title}}
            <span class="list-wrap__icon ">
            </span>
          </span>

        </li>
      </div>

    </div>
  </div>
</div>

<!-- 
<div class="footer">
  <div class="general-tabs">
    <div class="general-tabs__header">
      <div class="tabs-footer">
        <input type="radio" id="tabf1" name="tab" checked="checked">
        <label for="tabf1">GERAL</label>
        <input type="radio" id="tabf2" name="tab">
        <label for="tabf2">ELENCO</label>
        <input type="radio" id="tabf3" name="tab">
        <label for="tabf3">PRINCIPAIS PRÊMIOS</label>

        <div class="line"></div>
      </div>



      <div class="tab-contents-footer">
        <div id="tab-contentf1" class="itemf">

          IUAHFIUAGHIUAHGIUAGH
        </div>
        <div id="tab-contentf2" class="itemf">
          <h1>AAAAAA</h1>
        </div>

      </div>
    </div>
  </div>
</div> -->

<div class="box-tabs" id="footer">
  <div class="tabs">
    <input type="radio" id="tab4" name="tab" checked="checked">
    <label for="tab4">Tab 1</label>
    <input type="radio" id="tab5" name="tab">
    <label for="tab5">Tab 2</label>
    <input type="radio" id="tab6" name="tab">
    <label for="tab6">Tab 3</label>

    <div class="line"></div>

    <div class="tab-contents">
      <div id="tab-content4" class="item">Content 1</div>
      <div id="tab-content5" class="item">Content 2</div>
      <div id="tab-content6" class="item">Content 3</div>

    </div>
  </div>
</div>