@import url("https://fonts.google.com/specimen/Nunito?selection.family=Nunito");

$font-family: 'Nunito', sans-serif;

body {
  font-family: $font-family;
  background: url("../src/assets/img/bg-big-wallp-sm.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-img{
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-image: radial-gradient(farthest-corner at 100px 100px,  rgba(0,0,0,0.5),  rgba(0,0,0,0.5), rgba(0,0,0,0.5),  rgba(0,0,0,0.5),  rgba(0,0,0,0.5),  rgba(0,0,0,0.5), #000, #000, #000,  #000, #000, #000);
    opacity: 0.9; 
  }

}