@mixin center($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

.header {
    position: relative;
    @include center(60px, 5%);
    & .header__title {
        font-weight: bolder;
        color: #fff;
        font-size: 55px;
    }
    & .header__subtitle {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
    }
}